<div ng-init="ctrl.getRoles()" class="container-fluid">
  <div ng-if="!ctrl.show_information">
    <img width="24" height="24"
    ng-src="/static/dashboard/images/spinner.gif"/> <span translate>Loading...</span>
  </div>

  <div ng-if="ctrl.show_information">
  <div class="row">
    <div ng-if="!ctrl.role_admin" class="account-header col-md-8 col-sm-12">
      <span translate>Account:</span> {$ ctrl.account.name $}
    </div>
    <div ng-if="ctrl.role_admin" class="account-header col-md-8 col-sm-12">

      <label style="display:inline"><span translate>Account:</span>
      <select class="select-accounts"
       ng-options="account.name for account in ctrl.accounts| orderBy:'name' track by account.id"
       ng-model="ctrl.account"
       ng-change=ctrl.loadAccount(ctrl.account.id)>
      <option value="" disabled selected></option>
      </select></label>




    </div>
    <div class="col-md-4 col-sm-12">
      <label> <input type="checkbox"
       ng-model="ctrl.hide_zero_value">
       <span translate>Hide resources with zero value</span></label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4 right-border-only">

      <div ng-if="!ctrl.cycles.length" >
          <p class="empty-text" translate>1. Select an account to see it on details...</p>
          <div ng-if="ctrl.has_cycles_to_load">
            <img width="24" height="24"
            ng-src="/static/dashboard/images/spinner.gif"/> <span translate>Loading...</span>
          </div>
        </div>


      <div ng-if="ctrl.cycles.length"
      ng-class="{'selected': ctrl.cycle_selected==r}"
      ng-repeat="r in ctrl.cycles" ng-click="ctrl.loadProject(r)" >
        <cycle cycle='r' currency=ctrl.currency ></cycle>
      </div>

    </div>


    <div class="col-sm-12 col-md-4 right-border-only" >

      <div ng-if="!ctrl.projects.length">
        <p class="empty-text" translate>2. Then select a cycle...</p>

          <div ng-if="ctrl.has_projects_to_load">
            <img width="24" height="24"
            ng-src="/static/dashboard/images/spinner.gif"/> <span translate>Loading...</span>
          </div>

        </div>

      <div ng-if="ctrl.projects.length"
      ng-class="{'selected': ctrl.project_selected==p}"
      ng-repeat="p in ctrl.projects" ng-click="ctrl.loadProduct(p)">
        <project project='p' currency=ctrl.currency></project>
      </div>
    </div>



    <div class="col-sm-12 col-md-4 right-border-only" >

      <div ng-if="!ctrl.products.length">
        <p class="empty-text" translate>3. Finally, select a project.</p>
        <div ng-if="ctrl.has_products_to_load">
          <img width="24" height="24"
          ng-src="/static/dashboard/images/spinner.gif"/> <span translate>Loading...</span>
        </div>
      </div>

      <div ng-if="ctrl.products.length"
      ng-repeat="product in ctrl.products">
        <product product="product" currency=ctrl.currency hidezerovalue=ctrl.hide_zero_value></product>
      </div>


    </div>
  </div>

</div>
</div>
